/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  text-align: center;
  height: 100vh;
  background-color: #f5f6f8;
  font-family: var(--font-two);
}

.splash-brand {
  font-family: var(--font-one);
}

.navbar,
.common-h,
.menu {
  background-image:
    linear-gradient(
      180deg,
      hsl(212deg 56% 49%) 0%,
      hsl(212deg 54% 47%) 11%,
      hsl(212deg 54% 46%) 22%,
      hsl(212deg 52% 44%) 33%,
      hsl(212deg 51% 43%) 44%,
      hsl(212deg 50% 41%) 56%,
      hsl(212deg 49% 39%) 67%,
      hsl(212deg 48% 38%) 78%,
      hsl(212deg 47% 36%) 89%,
      hsl(212deg 45% 35%) 100%
    );
  color: var(--color-one);
}

.gradient {
  background-image:
    linear-gradient(
      to right,
      #669dde,
      #5e96d9,
      #558fd4,
      #4d88ce,
      #4481c9,
      #3f7cc4,
      #3977be,
      #3472b9,
      #326eb2,
      #306aab,
      #2f66a5,
      #2d629e
    );
}

.splash-logo {
  height: auto;
  width: 10%;
  transform: rotate(-45deg);
}

.my-login-btn-c {
  position: absolute;
  top: 0.95px;
  right: 5%;
  color: var(--color-one);
  font-size: 0.85rem;
  font-weight: 300;
  z-index: 100;
}

.my-login-btn {
  z-index: 100;
  padding: 0.75rem;
}

.login-d {
  display: flex;
  justify-content: space-between;
  width: 52%;
}

.remember-btn {
  margin-top: 1.5rem;
  align-self: start;
  text-align: end;
  font-size: 0.85rem;
}

.login-q {
  margin-top: 1rem;
  font-size: 0.85rem;
}

.login-q:hover {
  font-weight: 700;
  text-decoration: underline;
}

.sign-up-btn {
  color: #2d629e;
  font-weight: 700;
  padding: 0.5rem;
}

.menu {
  background-color: skyblue;
  position: absolute;
  height: 150vh;
  width: 50%;
  top: 0;
  right: 50%;
  padding: 3rem 2rem;
  transform: translateX(0);
  transition: transform 0.3s linear;
}

.menu-btn {
  z-index: 100;
}

.space-b {
  justify-content: space-between;
}

.shadow {
  box-shadow: 0 12px 15px 9px rgba(207, 207, 207, 1);
}

.welcome {
  font-size: 1.5rem;
  font-weight: 600;
  background-image:
    linear-gradient(
      to right,
      #669dde,
      #5e96d9,
      #558fd4,
      #4d88ce,
      #4481c9,
      #3f7cc4,
      #3977be,
      #3472b9,
      #326eb2,
      #306aab,
      #2f66a5,
      #2d629e
    );
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}

.mini-header {
  position: absolute;
  top: 7.2%;
  left: 0;
  width: 100%;
  background: #ffff;
  padding: 0.5rem;
  box-shadow: 0 20px 15px -2px rgba(207, 207, 207, 1);
}

.width-5 {
  width: 55%;
}

.back-btn-c {
  position: absolute;
  top: 14%;
  color: black;
}

.back-btn {
  display: flex;
  align-items: center;
}
