<div class="w-full flex flex-col items-center py-14">

  <h1 class="welcome mb-4">Welcome <%= current_user.name %>!</h1>
  
  <%= link_to 'New category', new_category_path, class: "rounded-lg py-3 px-5 text-white block font-medium self-end mr-6 gradient" %>

  <div id="categories" class="flex flex-col items-center w-11/12 gap-6 mb-12 mt-6">
    <%= render @categories %>
  </div>
</div>
